@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 300 !important;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto !important;
}

body {
    font-family: "DM Sans";
    line-height: 1.7;
    overflow-x: hidden !important;
}

.bring-section {
    background-color: #B2B2B2;
    height: 100vh;
    display: flex;

}

.bring {
    display: flex;
    align-items: center;
    height: 100%;
}

.bring-text {
    width: 40%;
    margin-top: 190px !important;
}

.bring-text span {
    color: #fd4d40;
    font-family: "Indie Flower", cursive !important;
    font-size: 1.25rem;
}

.bring-text h2 {
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    margin-bottom: 1rem !important;
    font-weight: 700 !important;
}

.bring-text p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 1rem !important;
}

.bring-text a {
    font-size: .8rem;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: .2rem;
    padding: 10px 20px !important;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px 0 !important;
    background-color: #dc3545;
    cursor: pointer;
    margin: 25px 0 1rem 0 !important;
}

.bring-text a:hover {
    background-color: #c82333;
}

.bring-img {
    width: 50%;
    height: 695px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.bring-img img {
    height: 100%;
}

.color-section {
    margin-top: 7rem !important;
}

.color-flex {
    display: flex;
    column-gap: 30px;
}

.color-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FD4D40;
    position: relative;
    padding: 40px !important;
    text-align: center;
}

.color-card span {
    margin-bottom: -5px !important;
    position: absolute;
    top: -30px;
    background-color: #fd4d40;
    font-size: 2rem;
    border-radius: 50%;
    padding: 20px !important;
    width: 80px;
    height: 80px;
    text-align: center;
}

.color-card span svg {
    color: #fff;
}

.color-card h2 {
    margin-top: 54px !important;
}

.color-card h2 {
    margin-bottom: 0.5rem;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

.color-card p {
    line-height: 1.7;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1rem;
}

.color-card-2 {
    background-color: #FDB62F !important;
}

.color-card-3 {
    background-color: #16C3B0 !important;
}






