
.testimonial {
    margin-top: 3rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-section {
    background-color: #F6F5F5;
    padding: 112px 0 !important;
}

.testimonial-center {
    text-align: center;
}

.testimonial-center span {
    color: #fd4d40;
    font-family: "Indie Flower", cursive !important;
    font-size: 1.25rem;
    display: inline-block;
}

.testimonial-center h4 {
    font-size: 2rem;
}

.slider-container {
    width: 64%;
    background-color: #FD4D40;
}

.alaaaaa {

    padding: 0 15px !important;
}

.test-card {
    /* width: 66%; */
    padding: 30px !important;
    cursor: grab;
}

.test-flex img {
    width: 80px !important;
    height: 80px !important;
    z-index: 99;
}




.test-flex {
    display: flex;
    justify-content: space-between;
    column-gap: 48px !important;
}

.test-text {
    position: relative;
}

.test-text h1 {
    font-size: 20px;
    margin-bottom: 8px !important;
    color: #fff;
}

.test-text span {
    font-size: 16px;
    margin-bottom: 16px !important;
    color: #FFFFFF80;
    display: inline-block;
}

.test-text p {
    font-size: 20px;
    margin-bottom: 16px !important;
    color: #fff;
}

.slick-dots {
    position: absolute !important;
    right: 8px !important;
    top: 26px;
    width: 19% !important;
}

.slick-arrow {
    display: none !important;
}

.slick-dots li button {
    color: #fff !important;
}

.slick-dots li.slick-active button:before {
    color: #fff !important;
}

.slick-dots li button:before {
    color: #000000 !important;
}

.testimontial-text {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 40px !important;
}

.testimontial-text h5 {
    font-size: 32px;
    margin-bottom: 0.5rem !important;
}

.card-center {
    padding: 0 58px !important;
}
.card-center .color-1 {
    color: #16c3b0;
}

.card-center .color-2 {
    color: #fdb62f;
}

.card-center .color-3 {
    color: #71bc42 !important;
}

.card-center .color-4 {
    color: #dc3545 !important;
}

.card-center p {
    color: #364d59 !important;
}
